<template>
  <Navbar />
  <div style="margin-bottom: 20px" v-for="(item, index) in filterRoles" :key="index" >
    <Card :role="item"/>
  </div>   
</template>

<script>
import Navbar from '@/components/Navbar'
import Card from '@/components/Card'
import { mapState} from 'vuex'

export default {
  name: 'Home',
  components: {
    Navbar,
    Card 
  },
  computed:{
    ...mapState(['roles', 'filter','search']),  
    filterRoles(){
      if((this.filter == "" || this.filter == 3) && this.search == "") return this.roles

      let newRoles = this.roles

      if(this.filter == 1 || this.filter == 2) newRoles = this.filterByStatus(newRoles)

      if(this.search != "") newRoles = this.searchByRole(newRoles)

      return newRoles   
    }
  },
  methods:{
    searchByRole(roles){
      return roles.filter((item) => {
        return item.name.toLowerCase().includes(this.search.toLowerCase()) 
      })
    },
    filterByStatus(roles){
      return roles.filter((item) => {
        return (item.active == true && this.filter == 1) || (item.active == false && this.filter == 2)
      })
    }
  }
}
</script>
