<template>
  <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{ role.name }} 
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p class="subtitle">{{ getCapitalizeString(role.type) }}</p>
      <p>{{ role.description }}</p>     
      <div class="users" v-for="(item, index) in role.users" :key="index">
        <Image :user="item" />
      </div>
      <div class="clear"></div>
      <span>Date created: </span><time>{{ getDate(role.created_on) }}</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item inactive">
      <p v-show="!role.active">{{ !role.active ? 'Inactive ' : ''}}</p> 
      <img class="image is-24x24" v-show="!role.editable" src="../assets/icons8-padlock-64.png"/>
    </a>
    <a href="#!" class="card-footer-item" v-show="role.editable" >Edit</a>
    <a href="#!" class="card-footer-item" v-show="role.editable" @click="deleteRole(role.id)">Delete</a>
    

  </footer>
</div>
</template>

<script>
import Image from './Image'
import {mapActions} from 'vuex'


export default {
  name: 'Card',
  components: {
    Image
  },
  props: {
    role: Object
  },
  methods: {
    ...mapActions(['deleteRole']),
    getCapitalizeString(str){
      return str.trim().replace(/^\w/, (c) => c.toUpperCase())
    },
    getDate(datetime) {
      let date = new Date(datetime).toJSON().slice(0,10).replace(/-/g,'/')
      return date
    }
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #ff0080;
}
.inactive{
  color: #00c5ff;
}
p{
  text-align: left !important;
}
.clear{
  clear: both !important;
}

</style>
