<template>
  <figure class="image is-32x32 figure">
    <img class="is-rounded" :src="user.photo_url" :alt="user.first_name">
  </figure>
</template>

<script>
export default {
  name: 'Image',
  props: {
      user: Object
  }
}
</script>

<style>
.figure{
  float: left; 
  margin-bottom: 10px
}
</style>