<template>
<div class="field  is-grouped is-grouped-centered">
    <div class="control">
        <input class="input is-normal input-search" type="text" placeholder="search" v-on:keyup="updateSearch" v-model="searchValue">
    </div>
    <div class="control">
        <div class="select">
            <select class="input-filter" v-model="filterValue" @change="updateFilter">
                <option value="1">Active</option>
                <option value="2">Inactive</option>
                <option value="3">Active & Inactive</option>
            </select>
        </div>
    </div>
</div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    data(){
        return {
            searchValue: "",
            filterValue: ""
        }
    },
    methods:{
        ...mapActions(['setSearch','setFilter']),
        updateSearch(){
            this.setSearch(this.searchValue)
        },
        updateFilter(){
            this.setFilter(this.filterValue)
        }      
    }
}
</script>

<style>
.input-search{
    width: 200px !important;
    padding: 10px;
}
.input-filter{
    padding: 100px;
}
</style>