<template>
  <div id="nav">
    <router-link to="/">User Roles Management</router-link> 
    <router-link to="/create-role">Create Role</router-link>
  </div>
  <div class="container is-max-desktop">
    <router-view/>
  </div> 
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  text-align: left !important;;
}

#nav a {
  font-weight: normal;
  color: gray;
  padding: 10px;
}

#nav a:hover{
  color: #ff0080;
  border-bottom: 2px solid #ff0080;
  transition: 300ms;
}

#nav a.router-link-exact-active {
  color: #ff0080;
}
</style>
